<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfrello.alfredapp.trello</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>0442D773-2E45-40E3-B79E-6879C09EDCB8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BBAACDB8-006A-4F21-832F-16FA411C1103</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>16BB38FE-8155-4853-8675-42456C67EE07</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EC4DC945-4693-4F48-A492-1E89FD7A8D06</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>698B8D13-7B41-4E27-908D-5203C78CAD47</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>61DBB663-315E-44FD-908D-922773D9A9C6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>B3E3C8B1-C237-47B3-A7ED-AF2344852785</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>79F5807D-D2CF-4970-9857-0E31A897011F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BCBEF829-5790-415C-B492-BE2D0DFAEB63</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>B3E3C8B1-C237-47B3-A7ED-AF2344852785</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B52392F2-134F-4DC0-A056-B7581FD26897</key>
		<array/>
		<key>B7B27F27-BA2C-4DF7-BEFC-A1BF2EFBAE37</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B52392F2-134F-4DC0-A056-B7581FD26897</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>B3E3C8B1-C237-47B3-A7ED-AF2344852785</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BB4FCEDA-A055-4022-BE05-A9D2E24CFB9E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>79F5807D-D2CF-4970-9857-0E31A897011F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B7B27F27-BA2C-4DF7-BEFC-A1BF2EFBAE37</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>698B8D13-7B41-4E27-908D-5203C78CAD47</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BBAACDB8-006A-4F21-832F-16FA411C1103</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BD2245DE-C519-47BB-9947-BE1A44C7C54F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BCBEF829-5790-415C-B492-BE2D0DFAEB63</key>
		<array/>
		<key>C5467207-338E-4F24-A4C9-73311BDD7202</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>16BB38FE-8155-4853-8675-42456C67EE07</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CBFD6A75-F1D3-4ECA-8361-7B7121031C42</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BB4FCEDA-A055-4022-BE05-A9D2E24CFB9E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ECF7FEF5-2936-4D18-81AA-16698BF190DC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BB4FCEDA-A055-4022-BE05-A9D2E24CFB9E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Miko Magni</string>
	<key>description</key>
	<string>Add Cards to Trello using Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Alfrello</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>62</integer>
				<key>script</key>
				<string># Alfrello
# Description: Alfred Workflow for creating cards on a Trello board
# Version: 2.0
# Updated: 23/05/2023
# Source: https://github.com/MikoMagni/Alfrello

# Assigns the Trello API key to the "key" variable
key="$trello_apikey"

# Assigns the Trello token to the "token" variable
token="$trello_token"

# Assigns the Trello board ID to the "boardid" variable
boardid="$trello_boardid"

# Assigns the export path to the "exportpath" variable. This will be used to modify the PATH.
exportpath="$export_path"

# Check if exportpath is not empty. If not empty, it will execute the script inside exportpath.
if [ ! -z "${exportpath}" ]; then
  ${exportpath}
fi

# Check the exit status of the last executed command (exportpath).
# If it's not equal to zero, then it means the command was unsuccessful.
# Prints an error message and exits the script.
if [ $? -ne 0 ]; then
    echo "Error: The command '${exportpath}' failed to execute."
    exit 1
fi

# Checks if PHP is available in the current PATH by trying to call it.
# If not available, it will print an error message saying PHP couldn't be found, and then it will exit the script.
if ! command -v php &amp;&gt; /dev/null; then
    echo "PHP could not be found. Please ensure PHP is installed and in your PATH."
    exit 1
fi

# Executes the PHP script "TrelloApi.php" with the PHP CLI command.
# The -- symbol indicates the end of the options, and any following arguments will be treated as string inputs.
# The string input is composed of the Trello key, token, board ID, and a query, separated by semicolons.
php -f TrelloApi.php -- "${key};${token};${boardid};{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BB4FCEDA-A055-4022-BE05-A9D2E24CFB9E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:trello_keyword}</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Add a card to Trello</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CBFD6A75-F1D3-4ECA-8361-7B7121031C42</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Trello</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>BCBEF829-5790-415C-B492-BE2D0DFAEB63</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:trello_notification}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string>Checked</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>B3E3C8B1-C237-47B3-A7ED-AF2344852785</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>79F5807D-D2CF-4970-9857-0E31A897011F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>argumenttext</key>
				<string>[Clipboard] </string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>ECF7FEF5-2936-4D18-81AA-16698BF190DC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Pop</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>B52392F2-134F-4DC0-A056-B7581FD26897</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:trello_sound}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string>Checked</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>B3E3C8B1-C237-47B3-A7ED-AF2344852785</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>B7B27F27-BA2C-4DF7-BEFC-A1BF2EFBAE37</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{query}</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>61DBB663-315E-44FD-908D-922773D9A9C6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:trello_largetype}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string>Checked</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>B3E3C8B1-C237-47B3-A7ED-AF2344852785</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>698B8D13-7B41-4E27-908D-5203C78CAD47</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://trello.com/app-key/</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>16BB38FE-8155-4853-8675-42456C67EE07</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Generate your Trello Developer API  Key</string>
				<key>title</key>
				<string>Trello</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>EC4DC945-4693-4F48-A492-1E89FD7A8D06</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>get trello api key</string>
				<key>subtext</key>
				<string>https://trello.com/app-key/</string>
				<key>text</key>
				<string>Generate your Trello Developer API  Key</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C5467207-338E-4F24-A4C9-73311BDD7202</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>get trello token</string>
				<key>subtext</key>
				<string>Please make sure to add your API Key in the workflow configuration</string>
				<key>text</key>
				<string>Authorise Alfrello to use your Trello account.</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0442D773-2E45-40E3-B79E-6879C09EDCB8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Authorize Trello Workflow to use your account.</string>
				<key>title</key>
				<string>Trello</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>BD2245DE-C519-47BB-9947-BE1A44C7C54F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://trello.com/1/connect?key={var:trello_apikey}&amp;name=Alfrello&amp;response_type=token&amp;scope=read,write&amp;expiration=never</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>BBAACDB8-006A-4F21-832F-16FA411C1103</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Alfrello

Description: Alfred Workflow for creating cards on a Trello board
Version: 2.0
Updated: 23/05/2023
Source: https://github.com/MikoMagni/Alfrello
![](images/alfrello.png)</string>
	<key>uidata</key>
	<dict>
		<key>0442D773-2E45-40E3-B79E-6879C09EDCB8</key>
		<dict>
			<key>xpos</key>
			<real>65</real>
			<key>ypos</key>
			<real>625</real>
		</dict>
		<key>16BB38FE-8155-4853-8675-42456C67EE07</key>
		<dict>
			<key>xpos</key>
			<real>405</real>
			<key>ypos</key>
			<real>485</real>
		</dict>
		<key>61DBB663-315E-44FD-908D-922773D9A9C6</key>
		<dict>
			<key>xpos</key>
			<real>880</real>
			<key>ypos</key>
			<real>345</real>
		</dict>
		<key>698B8D13-7B41-4E27-908D-5203C78CAD47</key>
		<dict>
			<key>xpos</key>
			<real>685</real>
			<key>ypos</key>
			<real>375</real>
		</dict>
		<key>79F5807D-D2CF-4970-9857-0E31A897011F</key>
		<dict>
			<key>xpos</key>
			<real>685</real>
			<key>ypos</key>
			<real>95</real>
		</dict>
		<key>B52392F2-134F-4DC0-A056-B7581FD26897</key>
		<dict>
			<key>xpos</key>
			<real>880</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
		<key>B7B27F27-BA2C-4DF7-BEFC-A1BF2EFBAE37</key>
		<dict>
			<key>xpos</key>
			<real>685</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>BB4FCEDA-A055-4022-BE05-A9D2E24CFB9E</key>
		<dict>
			<key>xpos</key>
			<real>405</real>
			<key>ypos</key>
			<real>65</real>
		</dict>
		<key>BBAACDB8-006A-4F21-832F-16FA411C1103</key>
		<dict>
			<key>xpos</key>
			<real>405</real>
			<key>ypos</key>
			<real>625</real>
		</dict>
		<key>BCBEF829-5790-415C-B492-BE2D0DFAEB63</key>
		<dict>
			<key>xpos</key>
			<real>880</real>
			<key>ypos</key>
			<real>65</real>
		</dict>
		<key>BD2245DE-C519-47BB-9947-BE1A44C7C54F</key>
		<dict>
			<key>xpos</key>
			<real>880</real>
			<key>ypos</key>
			<real>625</real>
		</dict>
		<key>C5467207-338E-4F24-A4C9-73311BDD7202</key>
		<dict>
			<key>xpos</key>
			<real>65</real>
			<key>ypos</key>
			<real>485</real>
		</dict>
		<key>CBFD6A75-F1D3-4ECA-8361-7B7121031C42</key>
		<dict>
			<key>xpos</key>
			<real>65</real>
			<key>ypos</key>
			<real>65</real>
		</dict>
		<key>EC4DC945-4693-4F48-A492-1E89FD7A8D06</key>
		<dict>
			<key>xpos</key>
			<real>880</real>
			<key>ypos</key>
			<real>485</real>
		</dict>
		<key>ECF7FEF5-2936-4D18-81AA-16698BF190DC</key>
		<dict>
			<key>xpos</key>
			<real>65</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Your unique Trello API key. You can get this from Trello's Developer API Key page or by typing `get trello api key` in Alfred</string>
			<key>label</key>
			<string>api key</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>trello_apikey</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Your Trello token. This gives the workflow permission to access your Trello data and perform actions like creating cards. After entering your `api key` above, type `get token` in Alfred</string>
			<key>label</key>
			<string>Trello Token</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>trello_token</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>The unique identifier for the Trello board where you want to create cards. You can find this in the board's URL.</string>
			<key>label</key>
			<string>Trello Board id</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>trello_boardid</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>The keyword you'll type into Alfred to trigger this workflow. Choose something easy to remember related to the task.</string>
			<key>label</key>
			<string>Workflow keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>trello_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string></string>
			</dict>
			<key>description</key>
			<string>If this is enabled, macOS will display a notification each time a card is created.</string>
			<key>label</key>
			<string>Show Notification</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>trello_notification</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string></string>
			</dict>
			<key>description</key>
			<string>If this is enabled, a sound will play after a card is posted.</string>
			<key>label</key>
			<string>Play Sound</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>trello_sound</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string></string>
			</dict>
			<key>description</key>
			<string>If this is enabled, the result of posting a card will be shown in large text on your screen.</string>
			<key>label</key>
			<string>Show Large Type</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>trello_largetype</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Sets a default due date for all new cards. You can input a specific date, or use terms like 'today', 'tomorrow', or 'next week'.</string>
			<key>label</key>
			<string>Default Due Date</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>trello_due</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Allows you to set a default list within the Trello board where new cards will be created.</string>
			<key>label</key>
			<string>Default List Name</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>trello_list_name</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Allows you to set default labels for all new cards. You can specify one or multiple labels, separated by commas. For example, 'green, red'.</string>
			<key>label</key>
			<string>Default Labels</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>trello_labels</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Sets where new cards will appear within their list. Options are 'top' or 'bottom'.</string>
			<key>label</key>
			<string>Default postion</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>trello_position</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Here you can set the default member to be assigned to a card. It can be a username, 'me', or multiple usernames separated by commas.</string>
			<key>label</key>
			<string>Default Member</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>trello_member</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Allows you to define the date format. Examples are 'd/m/Y' or 'm/d/Y' If not set it will default to 'm/d/Y'.</string>
			<key>label</key>
			<string>Date Format</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>trello_date_format</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>name,desc,input_labels,due,list_name,position,url_attachment,assigned_member</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
				<key>verticalsize</key>
				<integer>3</integer>
			</dict>
			<key>description</key>
			<string>Allows you to set the default order of your query. Default order is 'name,desc,input_labels,due,list_name,position,url_attachment,assigned_member'. You can rearrange these fields separated by commas.</string>
			<key>label</key>
			<string>Trello Field Order</string>
			<key>type</key>
			<string>textarea</string>
			<key>variable</key>
			<string>trello_field_order</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Enable Debug Log</string>
			</dict>
			<key>description</key>
			<string>Enabling debug will record CURL, PHP, and Trello API errors to a log.txt file inside the workflow folder. This is useful for troubleshooting errors.</string>
			<key>label</key>
			<string>Debug</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>trello_debug</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>If you have issues with the workflow not finding your PATH, you can define it here. For example: 'export PATH="/opt/homebrew/bin:/usr/local/bin:${PATH}"'. Please be careful when adding custom paths.</string>
			<key>label</key>
			<string>export PATH</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>export_path</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>2.0</string>
	<key>webaddress</key>
	<string>https://github.com/MikoMagni/Alfrello</string>
</dict>
</plist>
